.boardcard-container{
  margin-bottom: 2rem;
}

.board-image-container{
  max-width: 350px;
  max-height: 350px;
}

.board-image{
  width: 100%;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}

.boardcard-position, .boardcard-name{
  font-family: 'Montserrat';
}