.popup{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}

.popup-container{
  position: relative;
  padding: 32px;
  width: 80%;
  max-width: 960px;
  background-color: #fff;
}

.fa-times{
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  z-index: 997;
}

.logo-container{
  position: absolute;
  bottom: 16px;
  right: 16px;
  max-width: 75px;
  max-height: 75px;
  z-index: 999;
}

.logo{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 960px){

  .logo-container{
    max-width: 50px;
  }

}